@model WebApplication.Models.HomeViewModel
@{
    ViewData["Title"] = "Едовичок | Кулинарный портал";
}

<h1>Кулинарный портал</h1>

<div>
    <h2>Кулинарные новости</h2>
    <div>
        @foreach (var news in Model.LatestNews)
        {
            <a class="news-card" asp-controller="Home" asp-action="@news.ActionName" asp-route-id="@news.ArticleId">
                <img src="@news.ImageSrc" alt="@news.Title" />
                <h3>@news.Title</h3>
                <p>@news.Summary</p>
            </a>
        }
    </div>
</div>

<div>
    <h2>Новые рецепты</h2>
    <div class="cards">
        @foreach (var recipe in Model.NewestRecipes)
        {
            <a class="recipe-card"
               asp-controller="Home"
               asp-action="@recipe.ActionName"
               asp-route-slug="@recipe.Slug">
                <img src="@recipe.ImageSrc" alt="@recipe.Name" />
                <h4>@recipe.Name</h4>
            </a>
        }
    </div>
</div>

<div>
    <h2>Популярные категории</h2>
    <div class="cards">
        @foreach (var category in Model.PopularCategories)
        {
            <a class="category-card" asp-controller="Home" asp-action="@category.ActionName">
                <img src="~/images/@category.ImageFileName" alt="@category.DisplayName" />
                <h4>@category.DisplayName</h4>
                <p class="category-count">@category.RecipeCount блюд</p>
            </a>
        }
    </div>
</div>
